# https://unix.stackexchange.com/a/447638
set show-all-if-ambiguous on
set show-all-if-unmodified on
set menu-complete-display-prefix on
"\t": menu-complete
"\e[Z": menu-complete-backward
# https://unix.stackexchange.com/a/593495
set bell-style none
# https://askubuntu.com/a/87066
set completion-ignore-case On
